@use 'sass:math';

$utilities: (
  "padding-left": (
    "prefix": "pl",
    "value": (
      "default": $base-padding,
      "1": $base-padding * 2,
      "2": $base-padding * 3,
      "3": $base-padding * 4,
      "4": $base-padding * 5,
    )
  )
);

@each $property, $map in $utilities{
  $prefix: map-get($map, "prefix");
  $value: map-get($map, "value");

  @each $k, $v in $value{
    @if ($k == "default"){
      .#{$prefix}{
        #{$property}: $v;
      }
    } @else {
      .#{$prefix}-#{$k}{
        #{$property}: $v;
      }
    }
  }
}