// Theme Colors
$primary: #2c4436;
$secondary: #547261;
$error: red;
$info: gold;

// Spacing
$base-margin: 0.75rem;
$base-padding: 0.75rem;

// Borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

// Box Shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

// Font Sizes
$base-font-size: 1rem;
