@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.test-btn {
  background-color: #2c4436;
}

* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

.text-primary {
  color: #2c4436;
}

.bg-primary {
  background-color: #2c4436;
}
.bg-primary:hover {
  color: #2c4436;
}

.card-primary {
  color: #2c4436;
}

.text-primary-light-1:hover {
  color: #41574a;
}

.text-primary-light-2:hover {
  color: #56695e;
}

.text-primary-light-3:hover {
  color: #6b7c72;
}

.text-primary-light-4:hover {
  color: #808f86;
}

.text-primary-light-5:hover {
  color: #96a29b;
}

.text-primary-light-6:hover {
  color: #abb4af;
}

.text-primary-light-7:hover {
  color: #c0c7c3;
}

.text-primary-light-8:hover {
  color: #d5dad7;
}

.text-primary-light-9:hover {
  color: #eaeceb;
}

.text-secondary {
  color: #547261;
}

.bg-secondary {
  background-color: #547261;
}
.bg-secondary:hover {
  color: #547261;
}

.card-secondary {
  color: #547261;
}

.text-secondary-light-1:hover {
  color: #658071;
}

.text-secondary-light-2:hover {
  color: #768e81;
}

.text-secondary-light-3:hover {
  color: #879c90;
}

.text-secondary-light-4:hover {
  color: #98aaa0;
}

.text-secondary-light-5:hover {
  color: #aab9b0;
}

.text-secondary-light-6:hover {
  color: #bbc7c0;
}

.text-secondary-light-7:hover {
  color: #ccd5d0;
}

.text-secondary-light-8:hover {
  color: #dde3df;
}

.text-secondary-light-9:hover {
  color: #eef1ef;
}

.text-error {
  color: red;
}

.bg-error {
  background-color: red;
}
.bg-error:hover {
  color: red;
}

.card-error {
  color: red;
}

.text-error-light-1:hover {
  color: #ff1a1a;
}

.text-error-light-2:hover {
  color: #ff3333;
}

.text-error-light-3:hover {
  color: #ff4d4d;
}

.text-error-light-4:hover {
  color: #ff6666;
}

.text-error-light-5:hover {
  color: #ff8080;
}

.text-error-light-6:hover {
  color: #ff9999;
}

.text-error-light-7:hover {
  color: #ffb3b3;
}

.text-error-light-8:hover {
  color: #ffcccc;
}

.text-error-light-9:hover {
  color: #ffe6e6;
}

.text-info {
  color: gold;
}

.bg-info {
  background-color: gold;
}
.bg-info:hover {
  color: gold;
}

.card-info {
  color: gold;
}

.text-info-light-1:hover {
  color: #ffdb1a;
}

.text-info-light-2:hover {
  color: #ffdf33;
}

.text-info-light-3:hover {
  color: #ffe34d;
}

.text-info-light-4:hover {
  color: #ffe766;
}

.text-info-light-5:hover {
  color: #ffeb80;
}

.text-info-light-6:hover {
  color: #ffef99;
}

.text-info-light-7:hover {
  color: #fff3b3;
}

.text-info-light-8:hover {
  color: #fff7cc;
}

.text-info-light-9:hover {
  color: #fffbe6;
}

.text-blue {
  color: blue;
}

.bg-blue {
  background-color: blue;
}
.bg-blue:hover {
  color: blue;
}

.card-blue {
  color: blue;
}

.text-blue-light-1:hover {
  color: #1a1aff;
}

.text-blue-light-2:hover {
  color: #3333ff;
}

.text-blue-light-3:hover {
  color: #4d4dff;
}

.text-blue-light-4:hover {
  color: #6666ff;
}

.text-blue-light-5:hover {
  color: #8080ff;
}

.text-blue-light-6:hover {
  color: #9999ff;
}

.text-blue-light-7:hover {
  color: #b3b3ff;
}

.text-blue-light-8:hover {
  color: #ccccff;
}

.text-blue-light-9:hover {
  color: #e6e6ff;
}

.text-red {
  color: red;
}

.bg-red {
  background-color: red;
}
.bg-red:hover {
  color: red;
}

.card-red {
  color: red;
}

.text-red-light-1:hover {
  color: #ff1a1a;
}

.text-red-light-2:hover {
  color: #ff3333;
}

.text-red-light-3:hover {
  color: #ff4d4d;
}

.text-red-light-4:hover {
  color: #ff6666;
}

.text-red-light-5:hover {
  color: #ff8080;
}

.text-red-light-6:hover {
  color: #ff9999;
}

.text-red-light-7:hover {
  color: #ffb3b3;
}

.text-red-light-8:hover {
  color: #ffcccc;
}

.text-red-light-9:hover {
  color: #ffe6e6;
}

.text-orange {
  color: orange;
}

.bg-orange {
  background-color: orange;
}
.bg-orange:hover {
  color: orange;
}

.card-orange {
  color: orange;
}

.text-orange-light-1:hover {
  color: #ffae1a;
}

.text-orange-light-2:hover {
  color: #ffb733;
}

.text-orange-light-3:hover {
  color: #ffc04d;
}

.text-orange-light-4:hover {
  color: #ffc966;
}

.text-orange-light-5:hover {
  color: #ffd280;
}

.text-orange-light-6:hover {
  color: #ffdb99;
}

.text-orange-light-7:hover {
  color: #ffe4b3;
}

.text-orange-light-8:hover {
  color: #ffedcc;
}

.text-orange-light-9:hover {
  color: #fff6e6;
}

.text-yellow {
  color: yellow;
}

.bg-yellow {
  background-color: yellow;
}
.bg-yellow:hover {
  color: yellow;
}

.card-yellow {
  color: yellow;
}

.text-yellow-light-1:hover {
  color: #ffff1a;
}

.text-yellow-light-2:hover {
  color: #ffff33;
}

.text-yellow-light-3:hover {
  color: #ffff4d;
}

.text-yellow-light-4:hover {
  color: #ffff66;
}

.text-yellow-light-5:hover {
  color: #ffff80;
}

.text-yellow-light-6:hover {
  color: #ffff99;
}

.text-yellow-light-7:hover {
  color: #ffffb3;
}

.text-yellow-light-8:hover {
  color: #ffffcc;
}

.text-yellow-light-9:hover {
  color: #ffffe6;
}

.text-green {
  color: green;
}

.bg-green {
  background-color: green;
}
.bg-green:hover {
  color: green;
}

.card-green {
  color: green;
}

.text-green-light-1:hover {
  color: #1a8d1a;
}

.text-green-light-2:hover {
  color: #339933;
}

.text-green-light-3:hover {
  color: #4da64d;
}

.text-green-light-4:hover {
  color: #66b366;
}

.text-green-light-5:hover {
  color: #80c080;
}

.text-green-light-6:hover {
  color: #99cc99;
}

.text-green-light-7:hover {
  color: #b3d9b3;
}

.text-green-light-8:hover {
  color: #cce6cc;
}

.text-green-light-9:hover {
  color: #e6f2e6;
}

.text-indingo {
  color: indigo;
}

.bg-indingo {
  background-color: indigo;
}
.bg-indingo:hover {
  color: indigo;
}

.card-indingo {
  color: indigo;
}

.text-indingo-light-1:hover {
  color: #5d1a8f;
}

.text-indingo-light-2:hover {
  color: #6f339b;
}

.text-indingo-light-3:hover {
  color: #814da8;
}

.text-indingo-light-4:hover {
  color: #9366b4;
}

.text-indingo-light-5:hover {
  color: #a580c1;
}

.text-indingo-light-6:hover {
  color: #b799cd;
}

.text-indingo-light-7:hover {
  color: #c9b3da;
}

.text-indingo-light-8:hover {
  color: #dbcce6;
}

.text-indingo-light-9:hover {
  color: #ede6f3;
}

.text-violet {
  color: violet;
}

.bg-violet {
  background-color: violet;
}
.bg-violet:hover {
  color: violet;
}

.card-violet {
  color: violet;
}

.text-violet-light-1:hover {
  color: #f08ff0;
}

.text-violet-light-2:hover {
  color: #f19bf1;
}

.text-violet-light-3:hover {
  color: #f3a8f3;
}

.text-violet-light-4:hover {
  color: #f5b4f5;
}

.text-violet-light-5:hover {
  color: #f7c1f7;
}

.text-violet-light-6:hover {
  color: #f8cdf8;
}

.text-violet-light-7:hover {
  color: #fadafa;
}

.text-violet-light-8:hover {
  color: #fce6fc;
}

.text-violet-light-9:hover {
  color: #fdf3fd;
}

.text-gray {
  color: gray;
}

.bg-gray {
  background-color: gray;
}
.bg-gray:hover {
  color: gray;
}

.card-gray {
  color: gray;
}

.text-gray-light-1:hover {
  color: #8d8d8d;
}

.text-gray-light-2:hover {
  color: #999999;
}

.text-gray-light-3:hover {
  color: #a6a6a6;
}

.text-gray-light-4:hover {
  color: #b3b3b3;
}

.text-gray-light-5:hover {
  color: silver;
}

.text-gray-light-6:hover {
  color: #cccccc;
}

.text-gray-light-7:hover {
  color: #d9d9d9;
}

.text-gray-light-8:hover {
  color: #e6e6e6;
}

.text-gray-light-9:hover {
  color: #f2f2f2;
}

.text-black {
  color: black;
}

.bg-black {
  background-color: black;
}
.bg-black:hover {
  color: black;
}

.card-black {
  color: black;
}

.text-black-light-1:hover {
  color: #1a1a1a;
}

.text-black-light-2:hover {
  color: #333333;
}

.text-black-light-3:hover {
  color: #4d4d4d;
}

.text-black-light-4:hover {
  color: #666666;
}

.text-black-light-5:hover {
  color: gray;
}

.text-black-light-6:hover {
  color: #999999;
}

.text-black-light-7:hover {
  color: #b3b3b3;
}

.text-black-light-8:hover {
  color: #cccccc;
}

.text-black-light-9:hover {
  color: #e6e6e6;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}
.bg-white:hover {
  color: white;
}

.card-white {
  color: white;
}

.text-white-light-1:hover {
  color: white;
}

.text-white-light-2:hover {
  color: white;
}

.text-white-light-3:hover {
  color: white;
}

.text-white-light-4:hover {
  color: white;
}

.text-white-light-5:hover {
  color: white;
}

.text-white-light-6:hover {
  color: white;
}

.text-white-light-7:hover {
  color: white;
}

.text-white-light-8:hover {
  color: white;
}

.text-white-light-9:hover {
  color: white;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1.5rem;
}
.card .card-body a {
  text-decoration: underline;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  transition: background-color 0.3s ease;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #2c4436;
  transition: background-color 0.3s ease;
}
.btn-primary:hover {
  background-color: rgb(38, 167, 105);
  color: white;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  border: 1px solid #2c4436;
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #2c4436;
  transition: background-color 0.3s ease;
  color: #9f6a89;
}
.btn-complement-primary:hover {
  color: #2c4436;
  background-color: #9f6a89;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #547261;
  transition: background-color 0.3s ease;
}
.btn-secondary:hover {
  background-color: rgb(38, 167, 105);
  color: white;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  border: 1px solid #547261;
}

.btn-complement-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #547261;
  transition: background-color 0.3s ease;
  color: #bca3b1;
}
.btn-complement-secondary:hover {
  color: #547261;
  background-color: #bca3b1;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: red;
  transition: background-color 0.3s ease;
}
.btn-error:hover {
  background-color: rgb(38, 167, 105);
  color: white;
}

.btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  border: 1px solid red;
}

.btn-complement-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: red;
  transition: background-color 0.3s ease;
  color: #99ffff;
}
.btn-complement-error:hover {
  color: red;
  background-color: #99ffff;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: gold;
  transition: background-color 0.3s ease;
}
.btn-info:hover {
  background-color: rgb(38, 167, 105);
  color: white;
}

.btn-outlined-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  border: 1px solid gold;
}

.btn-complement-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: gold;
  transition: background-color 0.3s ease;
  color: #99a9ff;
}
.btn-complement-info:hover {
  color: gold;
  background-color: #99a9ff;
}

.btn-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: blue;
  transition: background-color 0.3s ease;
}
.btn-blue:hover {
  background-color: rgb(38, 167, 105);
  color: white;
}

.btn-outlined-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  border: 1px solid blue;
}

.btn-complement-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: blue;
  transition: background-color 0.3s ease;
  color: #ffff99;
}
.btn-complement-blue:hover {
  color: blue;
  background-color: #ffff99;
}

.btn-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: red;
  transition: background-color 0.3s ease;
}
.btn-red:hover {
  background-color: rgb(38, 167, 105);
  color: white;
}

.btn-outlined-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  border: 1px solid red;
}

.btn-complement-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: red;
  transition: background-color 0.3s ease;
  color: #99ffff;
}
.btn-complement-red:hover {
  color: red;
  background-color: #99ffff;
}

.btn-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: orange;
  transition: background-color 0.3s ease;
}
.btn-orange:hover {
  background-color: rgb(38, 167, 105);
  color: white;
}

.btn-outlined-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  border: 1px solid orange;
}

.btn-complement-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: orange;
  transition: background-color 0.3s ease;
  color: #99bdff;
}
.btn-complement-orange:hover {
  color: orange;
  background-color: #99bdff;
}

.btn-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: yellow;
  transition: background-color 0.3s ease;
}
.btn-yellow:hover {
  background-color: rgb(38, 167, 105);
  color: white;
}

.btn-outlined-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  border: 1px solid yellow;
}

.btn-complement-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: yellow;
  transition: background-color 0.3s ease;
  color: #9999ff;
}
.btn-complement-yellow:hover {
  color: yellow;
  background-color: #9999ff;
}

.btn-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: green;
  transition: background-color 0.3s ease;
}
.btn-green:hover {
  background-color: rgb(38, 167, 105);
  color: white;
}

.btn-outlined-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  border: 1px solid green;
}

.btn-complement-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: green;
  transition: background-color 0.3s ease;
  color: #ff1aff;
}
.btn-complement-green:hover {
  color: green;
  background-color: #ff1aff;
}

.btn-indingo {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: indigo;
  transition: background-color 0.3s ease;
}
.btn-indingo:hover {
  background-color: rgb(38, 167, 105);
  color: white;
}

.btn-outlined-indingo {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  border: 1px solid indigo;
}

.btn-complement-indingo {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: indigo;
  transition: background-color 0.3s ease;
  color: #7cff1c;
}
.btn-complement-indingo:hover {
  color: indigo;
  background-color: #7cff1c;
}

.btn-violet {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: violet;
  transition: background-color 0.3s ease;
}
.btn-violet:hover {
  background-color: rgb(38, 167, 105);
  color: white;
}

.btn-outlined-violet {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  border: 1px solid violet;
}

.btn-complement-violet {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: violet;
  transition: background-color 0.3s ease;
  color: white;
}
.btn-complement-violet:hover {
  color: violet;
  background-color: white;
}

.btn-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: gray;
  transition: background-color 0.3s ease;
}
.btn-gray:hover {
  background-color: rgb(38, 167, 105);
  color: white;
}

.btn-outlined-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  border: 1px solid gray;
}

.btn-complement-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: gray;
  transition: background-color 0.3s ease;
  color: #cdcdcd;
}
.btn-complement-gray:hover {
  color: gray;
  background-color: #cdcdcd;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
  transition: background-color 0.3s ease;
}
.btn-black:hover {
  background-color: rgb(38, 167, 105);
  color: white;
}

.btn-outlined-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  border: 1px solid black;
}

.btn-complement-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
  transition: background-color 0.3s ease;
  color: #4d4d4d;
}
.btn-complement-black:hover {
  color: black;
  background-color: #4d4d4d;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  transition: background-color 0.3s ease;
}
.btn-white:hover {
  background-color: rgb(38, 167, 105);
  color: white;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  border: 1px solid white;
}

.btn-complement-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  transition: background-color 0.3s ease;
  color: white;
}
.btn-complement-white:hover {
  color: white;
  background-color: white;
}

.pl {
  padding-left: 0.75rem;
}

.pl-1 {
  padding-left: 1.5rem;
}

.pl-2 {
  padding-left: 2.25rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 3.75rem;
}/*# sourceMappingURL=index.css.map */